<a href="https://colab.research.google.com/github/Drorkalel/Python_DataScience/blob/main/Contadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdaesdaesdasesda'))
s

0     a
1     s
2     d
3     a
4     e
5     s
6     d
7     a
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [3]:
s.unique()  #Metodo que unifica los datos repetidos

array(['a', 's', 'd', 'e'], dtype=object)

In [5]:
s.value_counts() # Metodo que totaliza la cantidad de variables de nuestra serie

a    5
s    5
d    4
e    3
dtype: int64

In [7]:
datos = pd.read_csv('/content/drive/MyDrive/PYTHON DATASCIENCE/Datascience Pandas/Pandas Tratamiento de Datos/Pandas2/data/datos_residencial.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Departamento
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Departamento
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,16.67,Departamento
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,50.00,Departamento

In [8]:
datos.Tipo.unique()

array(['Habitación', 'Casa', 'Departamento', 'Casa en condominio',
       'Casa comercial', 'Casa de villa'], dtype=object)

In [9]:
datos.Tipo.value_counts()

Departamento          18780
Casa en condominio      996
Casa                    965
Habitación              836
Casa comercial          265
Casa de villa           249
Name: Tipo, dtype: int64