<a href="https://colab.research.google.com/github/Drorkalel/Python_DataScience/blob/main/Creando_Rangos_de_Valor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
datos = pd.read_csv('/content/drive/MyDrive/PYTHON DATASCIENCE/Datascience Pandas/Pandas Tratamiento de Datos/Pandas2/data/datos_residencial.csv', sep=';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Departamento
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Departamento
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,16.67,Departamento
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,50.00,Departamento

In [5]:
# 1 y 2
# 3 y 4
# 5 y 6
# 7 y mas cuartos
clases = [0, 2, 4, 6, 100]

In [19]:
cuartos = pd.cut(datos.Cuartos, clases) # Se origina ranfo de corte de clases
cuartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
22086    (0.0, 2.0]
22087           NaN
22088    (2.0, 4.0]
22089    (0.0, 2.0]
22090    (0.0, 2.0]
Name: Cuartos, Length: 22091, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [20]:
pd.value_counts(cuartos)  # Se totaliza el conteo de clases

(0, 2]      11261
(2, 4]       9700
(4, 6]        700
(6, 100]       68
Name: Cuartos, dtype: int64

In [22]:
label = ['1 y 2 cuartos', '3 y 4 cuartos', '5 y 6 cuartos', '7 cuartos o mas'] # Se cambia nombre de rangos

In [23]:
cuartos = pd.cut(datos.Cuartos, clases, labels = label) # Se adiccionan etiquetas

In [24]:
pd.value_counts(cuartos)

1 y 2 cuartos      11261
3 y 4 cuartos       9700
5 y 6 cuartos        700
7 cuartos o mas       68
Name: Cuartos, dtype: int64

In [26]:
cuartos = pd.cut(datos.Cuartos, clases, labels = label, include_lowest=True)

In [28]:
pd.value_counts(cuartos)   # Se incluyen los valores 0 de los locales comerciales y otros

1 y 2 cuartos      11623
3 y 4 cuartos       9700
5 y 6 cuartos        700
7 cuartos o mas       68
Name: Cuartos, dtype: int64