<a href="https://colab.research.google.com/github/Drorkalel/Python_DataScience/blob/main/Creando_estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Series

In [ ]:
data = [1,2,3,4,5]

In [ ]:
s = pd.Series(data) # Se crea la serie s a partir de la lista data

In [ ]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
type(s) # Se confirma que se creo la serie

pandas.core.series.Series

In [ ]:
index = ['Linea'+str(i) for i in range(5)]
index

['Linea0', 'Linea1', 'Linea2', 'Linea3', 'Linea4']

In [ ]:
s = pd.Series(data = data, index = index)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [ ]:
data = {'Linea'+str(i): i+1 for i in range(5)}
data

{'Linea0': 1, 'Linea1': 2, 'Linea2': 3, 'Linea3': 4, 'Linea4': 5}

In [ ]:
s = pd.Series(data) # Se crea la misma serie a traves de un diccionario
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [ ]:
s1 = s+2  # Se crea la serie s1
s1

Linea0    3
Linea1    4
Linea2    5
Linea3    6
Linea4    7
dtype: int64

In [ ]:
s2 = s1+s # Se pueden realizar operaciones aritmeticas entre series
s2

Linea0     4
Linea1     6
Linea2     8
Linea3    10
Linea4    12
dtype: int64

# DataFrames

In [ ]:
data =[[1,2,3],[4,5,6],[7,8,9]]   # Matriz 3x3
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
index = ['Linea'+str(i) for i in range(3)]  # Determinando nombre de lineas
index

['Linea0', 'Linea1', 'Linea2']

In [ ]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
Linea0  1  2  3
Linea1  4  5  6
Linea2  7  8  9

In [ ]:
columns = ['Columna'+str(i) for i in range(3)]  # Determinando Columnas
columns

['Columna0', 'Columna1', 'Columna2']

In [ ]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

# Creando Dataframe a traves de un diccionario

In [ ]:
data = {'Columna0': {'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
'Columna1': {'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
'Columna2': {'Linea0': 3, 'Linea1': 6, 'Linea2': 9}}
data

{'Columna0': {'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
 'Columna1': {'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
 'Columna2': {'Linea0': 3, 'Linea1': 6, 'Linea2': 9}}

In [ ]:
df2 = pd.DataFrame(data, index = index, columns = columns)  # Creando Dataframe a partir del diccionario
df2

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

# Dataframe a traves de lista de tuplas

In [ ]:
data = [(1,2,3),(4,5,6),(7,8,9)]  # matriz con lista de tuplas
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
df3 = pd.DataFrame(data, index = index, columns = columns)
df3

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [ ]:
df1[df1>0]='A'
df1

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A

In [ ]:
df2[df2>0]='B'
df2

       Columna0 Columna1 Columna2
Linea0        B        B        B
Linea1        B        B        B
Linea2        B        B        B

In [ ]:
df3[df3>0]='C'
df3

       Columna0 Columna1 Columna2
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [ ]:
df4 = pd.concat([df1, df2, df3])  # Concatena los dataframe DF1, DF2, Df3
df4

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A
Linea0        B        B        B
Linea1        B        B        B
Linea2        B        B        B
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [ ]:
df5 = pd.concat([df1, df2, df3], axis = 1)  # axis = 1 para concatenar por las filas
df5

,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2
Linea0,A,A,A,B,B,B,C,C,C
Linea1,A,A,A,B,B,B,C,C,C
Linea2,A,A,A,B,B,B,C,C,C