<a href="https://colab.research.google.com/github/Drorkalel/Python_DataScience/blob/main/Formas_de_Seleccion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
'l1 l2 l3 l4'.split()

['l1', 'l2', 'l3', 'l4']

In [ ]:
data = [(1,2,3,4),
        (5,6,7,8,),
        (9,10,11,12),
        (13,14,15,16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split()) # .split sirve para crear rotulo
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [ ]:
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   9  10  11  12

In [ ]:
df.loc['l3'] # Seleccionamos una sola columna

c1     9
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [ ]:
df.loc[['l3', 'l2']]  # Selecionamos varias columnas

    c1  c2  c3  c4
l3   9  10  11  12
l2   5   6   7   8

In [ ]:
df.loc['l1', 'c2']  # Seleccionamos una interseccion fila columna

2

In [ ]:
df.iloc[3, 3 ]  # Este metodo "iloc" selecciona a traves del indice

16

In [ ]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [ ]:
df.loc[['l3', 'l1'], ['c4', 'c1']] # Seleccionamos filas y columnas metodo 'loc'

    c4  c1
l3  12   9
l1   4   1

In [ ]:
df.iloc[[2, 0], [3, 0]]   # Seleccionamos mismas filas y columnas con metodo 'iloc'

    c4  c1
l3  12   9
l1   4   1