<a href="https://colab.research.google.com/github/Drorkalel/Python_DataScience/blob/main/Selecciones_y_frecuencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Selecciones y Frecuencias

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv('/content/drive/MyDrive/PYTHON DATASCIENCE/Datascience Pandas/Pandas Tratamiento de Datos/Pandas2/data/alquiler.csv', sep=';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [ ]:
# Seleccione los inmuebles identificados como tipo departamento

In [ ]:
seleccion = datos['Tipo'] == 'Departamento'
n1 = datos[seleccion]

In [ ]:
n1 = datos[seleccion].shape[0]
n1

19532

In [ ]:
# Seleccion los inmuebles identificados con  los tipos: "Casa", "Casa en Condominio", "Casa en villa"

In [ ]:
seleccion = (datos['Tipo'] == 'Casa')|(datos['Tipo'] == 'Casa en Condominio')|(datos['Tipo'] == 'Casa en Villa')
n2 = datos[seleccion].shape[0]
n2

967

In [ ]:
# Seleccione los inmuebles con area emtre 60 y 100 metros cuadrados incluyendo los limites

In [ ]:
seleccion = (datos['Area'] >= 60) & (datos['Area'] <= 100)  # Filtrando con condicional
n3 = datos[seleccion].shape[0]
n3

10187

In [ ]:
# Seleccione los inmuebles que tenga por lo menos 4 cuartos y alquiler menor que $2.000,00

In [ ]:
seleccion = (datos['Cuartos'] >= 4) & (datos['Valor'] < 2000)
n4 = datos[seleccion].shape[0]
n4

43

In [ ]:
print("No de inmuebles clasificados con tipo 'Departamento' -> {}".format(n1))
print("No de inmuebles clasificados con tipo 'Casa', 'Casa en condominio', 'Casa en Villa' -> {}".format(n2))
print("No de inmuebles con Area entre 60 y 100 metros cuadrados, incluyendo los limites -> {}".format(n3))
print("No de inmuebles que tengan por lo menos 4  cuartos y alquiler menor que $2000,00 -> {}".format(n4))

No de inmuebles clasificados con tipo 'Departamento' ->                Tipo     Distrito  Cuartos  Vacantes  Suites  Area   Valor  \
3      Departamento   Pachacámac        1         0       0    15   800.0
4      Departamento          Ate        1         0       0    48   800.0
5      Departamento     Barranco        3         1       0    70  1200.0
6      Departamento        Comas        2         0       0    50  1300.0
10     Departamento   Pachacámac        1         0       0    36  1200.0
...             ...          ...      ...       ...     ...   ...     ...
32951  Departamento          Ate        2         0       0    52  1000.0
32953  Departamento  Santa Anita        2         0       0    70   900.0
32956  Departamento        Lince        3         1       2    78  1800.0
32957  Departamento        Rímac        2         1       0    48  1400.0
32958  Departamento        Rímac        2         0       0    70  3000.0

       Mantenimiento  Impuesto
3              390.0      20.0
4              230.0       NaN
5                NaN       NaN
6              301.0      17.0
10               NaN       NaN
...              ...       ...
32951          550.0       NaN
32953          490.0      48.0
32956          800.0      40.0
32957          509.0      37.0
32958          760.0       NaN

[19532 rows x 9 columns]
No de inmuebles clasificados con tipo 'Casa', 'Casa en condominio', 'Casa en Villa' -> 967
No de inmuebles con Area entre 60 y 100 metros cuadrados, incluyendo los limites -> 10187
No de inmuebles que tengan por lo menos 4  cuartos y alquiler menor que $2000,00 -> 43